language: c

cache:
  directories:
    - nim

env:
  global:
    - NIMREPO="https://github.com/nim-lang/Nim"
    - NIMVER="$(git ls-remote ${NIMREPO} devel | cut -f 1)"
    - NIMDIR="${TRAVIS_BUILD_DIR}/nim/${NIMVER}"
    #
    - REPONAME="$(basename ${TRAVIS_BUILD_DIR})" # /travis/build/kaushalmodi/nimy_lisp -> nimy_lisp
    - NIMFILE="${TRAVIS_BUILD_DIR}/src/${REPONAME}.nim"
    - HTMLFILE="${TRAVIS_BUILD_DIR}/src/${REPONAME}.html"
    - DEPLOYDIR="${TRAVIS_BUILD_DIR}/public"
    - DOCPAGE="${DEPLOYDIR}/index.html"

install:
  - echo "NIMDIR = ${NIMDIR}"
  - |
    if [[ ! -f "${NIMDIR}/bin/nim" ]]
    then
      rm -rf nim
      mkdir -p nim
      git clone --single-branch --branch devel --depth=1 "${NIMREPO}" "${NIMDIR}"
      cd "${NIMDIR}" || exit
      # Don't build 'koch tools'; remove that line from build_all.sh.
      sed -i '/koch tools/d' build_all.sh
      sh build_all.sh # https://github.com/nim-lang/Nim/issues/17907#issuecomment-831654235
    fi
  # - |
  #   if [[ ! -f "${NIMDIR}/bin/nimble" ]]
  #   then
  #     cd "${NIMDIR}" || exit
  #     ./koch nimble --skipUserCfg --skipParentCfg
  #   fi
  - export PATH="${NIMDIR}/bin:${PATH}"

script:
  - cd "${TRAVIS_BUILD_DIR}"
  - nim -v
  # - nimble install --depsOnly --accept
  - git clone https://github.com/kaushalmodi/nim_config && cp nim_config/config.nims . # Get my global config.nims
  - eval "nim c ${NIMFILE}"
  - nim test
  - nim docs

deploy:
  provider: pages
  # local-dir *has* to be a relative path from the repo root.
  local-dir: "public"
  skip-cleanup: true
  github-token: "${GITHUB_OAUTH_TOKEN}"
  keep-history: false
  on:
    branch: main

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

# References:
# https://github.com/kaushalmodi/hello_musl/blob/master/.travis.yml
